@import "./variable.scss";

.landingPage {
  width: 100%;
  max-width: 1200px;
  padding: 64px 0 0 0;
  margin: 0 auto;
}
.lpmain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  // z-index: -100;
  height: 300px;
  background-color: transparent;
  > div {
    width: 100%;
    padding: 0;
    position: relative;
    p {
      width: 80%;
      margin-bottom: 0;
    }
  }
  > div:first-child {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 24px;
    z-index: 100;
    color: #fff;
    ul {
      width: 80%;
      display: flex;
      justify-content: flex-start;
      li {
        margin-right: 1em;
      }
    }
  }
}

.image {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
  img {
    position: relative;
    padding: 0;
    margin: 0;
    width: 433px;
    height: 100%;
    // overflow: hidden;
  }
}

.overlay {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
  height: 100%;
}
.overlay maybe user later .overlay::before {
  content: "";
  position: absolute;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  // background-image: linear-gradient(135deg, $purple 0%, $dark 100%);
  background-image: linear-gradient(135deg, #0173ec 0%, #743fe5 50%);
}

.lpwwd {
  background-color: $dark;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2 {
    color: $pink;
    margin-top: 24px;
    margin-bottom: 0;
  }
  ul {
    align-items: flex-start;
  }
}

.textboxsmall {
  width: 250px;
  height: 250px;
  background-color: $offwhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 24px 0 48px 0;
  h3 {
    color: $pink;
    width: 68%;
    margin: 24px auto 12px auto;
  }
  p {
    color: $dark;
    width: 70%;
    margin-top: 0;
  }
}

.lphow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
  margin: 48px 0;
  img {
    width: 90%;
  }
  > div {
    background-color: $yellow;
    width: 90%;
    padding: 1em 0;
    > div {
      background-color: $offwhite;
      width: 80%;
      margin: 0 auto;
      padding: 0.5em;
      h2 {
        text-align: center;
      }
      p {
        font-size: $copyMedium;
      }
    }
  }
}

.lpMembers {
  background-color: $offwhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  h2 {
    margin: 24px 0 0 0;
    color: $purple;
  }
}

.lpMembersPreview {
  width: 250px;
  height: 250px;
  text-align: center;
  margin: 24px 0 48px 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 640px) {
  .lpmain {
    flex-direction: row;
    > div:first-child {
      position: relative;
      color: $dark;
      width: 40%;
      align-self: flex-start;
    }
    .image {
      width: 60%;
    }
  }
  .lpwwd {
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 90%;
      justify-content: space-between;
      margin: 0;
      li:last-child {
        margin: 0 auto;
      }
    }
  }
  .lpMembers {
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 90%;
    }
  }
}

@media (min-width: 768px) {
  .lpmain {
    height: 400px;
    align-items: flex-start;
    .image {
      height: 400px;
      overflow: hidden;
      img {
        width: 600px;
      }
    }
  }
  .textboxsmall {
    width: 220px;
    height: 220px;
    margin-right: 10px;
    p {
      font-size: $copyMedium;
      font-weight: $normal;
    }
  }
  .lphow {
    p {
      padding: 1em 2em;
    }
  }
}

@media (min-width: 1024px) {
  .image {
    width: 50% !important;
  }
  .lpwwd {
    ul {
      li:last-child {
        margin: 0;
      }
    }
  }
  .lphow {
    width: 90%;
    flex-direction: row;
    margin: 48px auto;
    position: relative;
    justify-content: flex-end;
    img {
      width: 42%;
      position: absolute;
      left: 0;
      top: 48px;
    }
    > div {
      width: 60%;
      height: 350px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .lpMembersPreview {
    width: 200px;
    height: 200px;
  }
}

@media (min-width: 1280px) {
  .lpmain {
    height: 500px;
    align-items: flex-start;
    .image {
      height: 500px;
      overflow: hidden;
      width: 50%;
      img {
        width: 679px;
      }
    }
  }
}
