@import "./variable.scss";

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1200px;
  z-index: 1000;
  span {
    margin: 0 1em;
    font-weight: $medium;
    font-size: $headerSmall;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      margin: 0 1em 0 0;
    }
  }
}
