@import "./variable.scss";

.userProfile,
.userProfileEdit {
  width: 100%;
  max-width: 1200px;
  padding: 64px 0 100px 0;
  margin: 0 auto;
  background-color: $offwhite;
  header {
    max-width: 1000px;
    width: 80%;
    margin: 100px auto;
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    padding: 1em;
  }
  span {
    font-weight: $normal !important;
  }
  a i {
    font-size: $copyExtraLarge;
    color: $pink;
    margin-right: 1em;
  }
  p {
    color: $dark;
    max-width: 90%;
  }
}

.userProfile {
  header {
    ul {
      padding: 0;
      display: flex;
      li {
        font-size: $copySmall;
      }
    }
  }
  button {
    min-width: 100px;
    height: 40px;
  }
}

.userName {
  font-weight: $bold;
  margin-bottom: 16px;
}

.userLocation {
  font-weight: $medium;
  margin-top: 0;
}

.expertiseListItems {
  display: flex;
  flex-direction: row !important;
  flex-wrap: wrap;
  width: 100%;
  > div {
    max-width: 200px;
    display: flex;
    max-height: 25px;
    min-height: 25px;
    margin-right: 0.5em;
    input,
    button {
      color: white;
      background-color: $dark;
      // padding: 10px;
      font-size: 0.5em;
      border: 1px solid $dark;
    }
    input {
      height: 24px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      border-top-left-radius: 4px;
    }
    button {
      height: 27px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
      border-top-left-radius: 0;
    }
  }
}

.userProfileEdit {
  form {
    width: 100%;
    i {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
  }
  ul {
    display: flex;
    flex-direction: column;
    li {
      padding: 20px;
    }
  }
  input {
    max-width: 100%;
    height: 52px;
    border: 1px solid #d5dae2;
    transition: all 0.3s ease 0s;
    padding: 0px 20px;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #0c071a;
    vertical-align: top;
    text-align: right;
  }
}

.editAvatar {
  position: relative;
  padding: 1em;
  button {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.expertiseListStyle {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  li {
    background-color: $pink;
    border: 1px solid $pink;
    color: #fff;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: $copySmall;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 10px 10px 10px 0;
    max-width: 100px;
    min-height: 28px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}

.matchesList {
  background-color: $offwhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
  h4 {
    margin: 24px 0 0 0;
    color: $purple;
  }
  h5 {
    margin: 0.5em;
    text-align: left;
    width: 90%;
  }
}

.matchesPreview {
  width: 250px;
  height: 250px;
  text-align: center;
  margin: 24px 0 48px 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  li {
    font-size: $copySmall;
    margin-top: 0.3em;
  }
}

@media (min-width: 640px) {
  .matchesList {
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      // justify-content: space-between;
      width: 90%;
    }
    .matchesPreview {
      margin-right: 1em;
    }
  }
}
