@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

//Fonts
$normal: 400;
$medium: 500;
$bold: 700;

$headerLarge: 2em;
$headerMedium: 1.5em;
$headerSmall: 1.1em;

$copyLarge: 1em;
$copyMedium: 0.9em;
$copySmall: 0.7em;

// colors
$offwhite: #fbfafc;
$yellow: #ffdd7f;
// $purple: #3c2485;
$red: #e5362a;
$purple: #4f3991;
$pink: #a1309d;
$dark: #0c071a;
